<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1> Click the card to reviel ur role </h1>

<--! när du klickar på knappen ska  den bytas till en image som det står ett ord på eller imposter -->
<button onclick="" > Reviel </button>

<--! namnet på random genenererad spelare-->
<--! när spelaren klickat på reviel knappen så dyker detupp en till knapp för nästa spelare-->

<div>

</div>

</body>
</html>