<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1 id="reveal-role-text"> Click the button to reveal your role </h1>

<div>

<!-- när du klickar på knappen ska  den bytas till en image som det står ett ord på eller imposter -->

    <div id="playerContainer">

        <!-- namnet på random genenererad spelare-->
        <h2 id="playerName"></h2>

        <!-- när spelaren klickat på reveal knappen så dyker det upp en till knapp för nästa spelare-->
        <div id="card">
            <button id="revealBtn" onclick="reveal()">Reveal</button>
        </div>

        <p id="playerInfo" style="display:none;"></p>

        <button id="nextBtn" onclick="nextPlayer()" style="display:none;">
            Next player
        </button>

    </div>

    <!-- nästa runda eller avsluta/gå tillbaka till index -->
    <div class="hidden-text" id="after-game">
        <form action="/gameloop" method="get">

            <button type="submit"> Next round </button>

        </form>

        <form action="/" method="get">

            <button type="submit"> Start new game </button>

        </form>

    </div>

</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const players = /*[[${players}]]*/ [];
    /*]]>*/
</script>

<script>
    let index = 0;

    function showPlayer() {

        const player = players[index];

        document.getElementById("playerName").innerText =
            "Player: " + player.name;

        document.getElementById("playerInfo").style.display = "none";
        document.getElementById("nextBtn").style.display = "none";
        document.getElementById("revealBtn").style.display = "inline-block";
    }

    function reveal() {
        const player = players[index];
        const info = player.role === "IMPOSTER"
            ? "You are the Imposter"
            : "You are a civilian \n Word: " + player.word;

        document.getElementById("playerInfo").innerText = info;
        document.getElementById("playerInfo").style.display = "block";

        document.getElementById("revealBtn").style.display = "none";
        document.getElementById("nextBtn").style.display = "inline-block";
    }

    function nextPlayer() {
        index++;

        if (index >= players.length) {
            document.getElementById("playerContainer").innerHTML =
                "<h2>All players have seen their roles, Let the game begin!</h2>";

            document.getElementById("after-game").style.display = "block";
            document.getElementById("reveal-role-text").style.display = "none";
            return;
        }

        else {
            showPlayer();
        }
    }
    showPlayer();
</script>


</body>
</html>