<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1>Players</h1>

<!-- Lista spelare -->
<ul>
  <li th:each="player : ${players}">
    <span th:text="${player.name}"></span>
  </li>
</ul>

<!-- Lägg till spelare -->
<h2>Add Player</h2>


<form action="/players/add" method="post">

  <input type="text" name="name" placeholder="Player name" required>
  <button type="submit">Add players</button>

</form>

<form action="/settings" method="get">

  <button type="submit"> Next </button>

</form>
</body>
</html>