<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Blaff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1> Choose categories </h1>

  <div th:each="category : ${categories}">

    <input type="checkbox" class="categoryCheckbox" th:value="${category.getName()}"/>

    <label th:text="${category.getName()}"></label><br>

  </div>

<h2> Choose amount of imposters </h2>
    <div>

    <input type="range" min="1" th:max="${players.size() - 1}" value="1" id="imposterSlider">

    <p> Max imposters: <span id="sliderValue">1</span> </p>

    </div>

<!-- starta spel -->

  <button onclick="setSelectedCategories()" >Start game </button>


<script>

    const slider = document.getElementById("imposterSlider");
    const output = document.getElementById("sliderValue");

    output.innerText = slider.value;
    slider.oninput = () => output.innerText = slider.value;

    function setSelectedCategories() {

        const selectedCategories = Array.from(
            document.querySelectorAll(".categoryCheckbox:checked")
        ).map(cb => cb.value);

        if (selectedCategories.length === 0) {
            alert("Välj minst en kategori");
            return;
        }

        const settings = {
            minImposters: 1,
            maxImposters: Number(slider.value),
            categories: selectedCategories
        };

        fetch("/gameloop", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(settings)
        })
        .then(() => {
            window.location.href = "/gameloop/game";
        });
    }

</script>

</body>

</html>