<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Blaff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<h1> Choose categories </h1>

<form action="/gameloop" method="post">

    <div th:each="category : ${categories}">

        <input class="category-checkbox" type="checkbox"
               name="categories"
               th:value="${category.name}">

        <label th:text="${category.name}"></label><br>
    </div>

    <input type="hidden" name="minImposters" value="1">

    <input class="imposter-slide" type="range"
           name="maxImposters"
           min="1"
           th:max="${players.size() - 1}"
           value="1"
           id="imposterSlider">

    <p>Max imposters: <span id="sliderValue">1</span></p>

    <button type="submit">Start game</button>
</form>
<script>
    const slider = document.getElementById("imposterSlider");
    const output = document.getElementById("sliderValue");

    output.innerText = slider.value;
    slider.oninput = () => output.innerText = slider.value;
</script>

</body>

</html>