<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Blaff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1> Choose categories </h1>

<form>
  <div th:each="category : ${categories}">
    <input type="checkbox" th:name="selectedCategories" th:value="${category.getName()}" />
    <label th:text="${category.getName()}"></label><br>
  </div>
</form>

<h2> Choose amount of imposters </h2>

<div class="slidecontainer">
  <input type="range" min="1" max="10" value="1" class="slider" id="myRange">
  <p> 1 </p>
</div>

<!-- starta spel -->
<form>
  <button type="submit">Start game </button>
</form>

</body>
</html>